all:
    vars:
        ansible_python_interpreter: /usr/bin/python3
        k3s_version: v0.9.1
        kubernetes_master_server: https://192.168.53.1:6443
        install_user: vagrant
        allowed_kubernetes_access:
            - 10.0.2.2
    children:
        k3scluster:
            hosts:
                node01:
                    ansible_ssh_host: 127.0.0.1
                    ansible_ssh_user: vagrant
                    ansible_ssh_port: 2222
                    ansible_ssh_private_key_file: ../.vagrant/machines/node01/virtualbox/private_key
                    hostname_alias: node01
                    kubernetes_role: master
                    node_ip: 192.168.53.1
                node02:
                    ansible_ssh_host: 127.0.0.1
                    ansible_ssh_user: vagrant
                    ansible_ssh_port: 2233
                    ansible_ssh_private_key_file: ../.vagrant/machines/node02/virtualbox/private_key
                    hostname_alias: node02
                    kubernetes_role: worker
                    node_ip: 192.168.53.2